<mat-toolbar class="px-header">
  <div class="px-header-button-title">
    <div >
      <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Informações da moeda</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Gráficos</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Notificações</span>
      </button>
    </mat-menu>
    </div>

    <div class="px-header-container-title">
      <span class="px-title-header">Fundos Federais EUA </span>
      <span class="px-price-our-today">Preço do outro atualmente</span>
      <div class="px-price-our-today">
        <span>{{currentPrice}}</span>
        <span>{{dateOurPrice}}</span>
      </div>
    </div>

  </div>

  <div class="px-header-icons-right">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-table></app-table>
<corp-video-player [videoId]="currentVideoId"></corp-video-player>
