.px-header {
  justify-content: space-between;
}
.example-spacer {
  flex: 1 1 auto;
}

.px-title-header {
  padding-left: 10px;
}

.px-header-icons-right {
  display: flex;
  width: 90px;
  justify-content: space-between;
}
